@model IEnumerable<_1.Models.ImageModel>
@{
    ViewData["Title"] = "Изображения";
}
<h2>Все файлы</h2>
@foreach (var f in Model)
{
    <p><img src="@Url.Content(f.Path)"></p>
    <a asp-action="DeleteImage" asp-route-id="@f.Id">Удалить</a>
}